.create-btn{
    background-color: rgb(0, 166, 255);
    padding: 10px;
    border:1px solid rgb(0, 166, 255);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 5px;
   
}