.btn {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 5px;
  font-family: "Poppins", sans-serif;
}
.primaryBtn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 10px;
  text-align: center;
  align-items: center;
  align-self: center;
}
.primaryBtn:hover {
  background-color:var(--hover-primary-color);
  color:var(--white);
  padding: 10px;
}
.dangerBtn {
  background-color: var(--hover-danger-color);
  color: var(--white);
  padding: 3px;
}
.dangerBtn:hover {
  background: var(--hover-danger-color);
  color: var(--white);
  padding: 3px;
}
.closeBtn {
  background: var(--white);
  color:var(--hover-danger-color);
  padding: 3px;
}
