.table-text {
  color: rgb(17, 27, 94);
  font-weight: 400;
  font-size: 14px;
  word-wrap: break-word;
  border: 1px white solid;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.main-title {
  color: rgb(93, 38, 202);
  font-weight: 600;
  font-size: 24px;
  margin: 20px 20px 40px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.modal-text {
  color: rgb(17, 27, 94);
  font-weight: 500;
  font-size: 16px;
  margin: 10px 10px 20px 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  align-self: center;
  align-items: center;
}
.grid-task {
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
  margin-right: auto;
  align-self: center;
  align-items: center;
}
.grid-delete-btn {
  padding: 3px;
  text-align: center;
  margin-left: auto;
  align-self: center;
  align-items: center;
}
.grid-checkbox{
  padding: 3px;
  text-align: center;
  margin-right: auto;
  
}