.modal-bg {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px #cec6e0;
  border: white 1px solid;
  padding: 20px;
  position: fixed;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}
.grid-close-btn {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px;
  font-size: 30px;
  text-align: center;
}
