:root {
  --primary-color: rgb(19, 161, 237);
  --hover-primary-color: rgb(92, 191, 245);
  --danger-color: #f44a6c;
  --hover-danger-color: #ea758c;
  --purple: rgb(68, 23, 165);
  --white: #ffffff;
  --background-gray: rgb(246, 246, 249);
  --input-border-gray: rgb(211, 218, 222);
  --bg-dark: #0f1634;
  --bg-purple: #4a2fb8;
  --background-dark-gray: #141a39;
  --modal-bg-dark: #19224b;
  --input-dark-bg: #242f5e;
  --input-border-gray-dark: #313753;
  --dark-text-color:#7b8097;
}
